<section>
    <div class="card-body collapse in">
        <div class="card-block">
            <!-- <div class="card-text">
                        <p>This is the most basic and default form having form sections. To add form section use <code>.form-section</code> class with any heading tags. This form has the buttons on the bottom left corner which is the default position.</p>
                    </div> -->
            <h4 class="form-section">Logo 1</h4>
            <div class="form-group">
                <label>Select File</label>
                <label id="projectinput7" class="file center-block">
                    <input type="file" id="file">
                    <span class="file-custom"></span>
                </label>
            </div>
            <h4 class="form-section">Logo 2</h4>
            <div class="form-group">
                <label>Select File</label>
                <label id="projectinput7" class="file center-block">
                    <input type="file" id="file">
                    <span class="file-custom"></span>
                </label>
            </div>

            <div class="form-group">
                <h4 class="form-section">Address</h4>
                <textarea id="projectinput8" rows="5" class="form-control" name="comment" placeholder="Address"></textarea>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="projectinput1">Title Link1</label>
                        <input type="text" id="projectinput1" class="form-control" placeholder="Title Link1" name="fname"><br>
                        <button type="button" class="btn btn-primary mr-1">
                             Link1
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Link1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>About</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Contact</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>register</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="projectinput2">Title Link2</label>
                        <input type="text" id="projectinput2" class="form-control" placeholder="Title Link2" name="lname"><br>
                        <button type="submit" class="btn btn-primary">
                            Link2
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Link2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>About</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Contact</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>register</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <form class="form">
                <div class="form-actions">
                    <button type="button" class="btn btn-warning mr-1">
                        <i class="icon-cross2"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="icon-check2"></i> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>