<li class=" nav-item">
    <a href="dashboard.html">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">หน้าควบคุม</span>
    </a>
</li>
<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">เรื่อง</span>
    </a>
</li>
<li class=" nav-item">
    <a href="subject.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">เรื่องทั้งหมด</span>
    </a>
</li>
<li class=" nav-item">
    <a href="category.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">หมวดหมู่</span>
    </a>
</li>

<li class=" nav-item">
    <a href="web.html">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">หน้า</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">คลังสื่อ</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">รูปแบบเว็บไซต์</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">เลือกธีม</span>
    </a>
</li>
<li class=" nav-item">
    <a href="editFirstPage.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ปรับแต่งหน้าแรก</span>
    </a>
</li>
<li class=" nav-item">
    <a href="menu.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">เมนู</span>
    </a>
</li>


<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ผู้ใช้งาน</span>
    </a>
</li>


<li class=" nav-item">
    <a href="user.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ผู้ใช้ทั้งหมด</span>
    </a>
</li>
<li class=" nav-item">
    <a href="profile.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ข้อมูลส่วนตัว</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ขอเปิดเมือง</span>
    </a>
</li>

<li class=" nav-item">
    <a href="city.html" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">เมืองทั้งหมด</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ระบบรับข่าวสาร</span>
    </a>
</li>

<li class=" nav-item">
    <a href="#">
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ตั้งค่า</span>
    </a>
</li>


<li class=" nav-item">
    <a href="#" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">ทั่วไป</span>
    </a>
</li>
<li class=" nav-item" style="margin-bottom:30px">
    <a href="#" style="margin-left:15px">
        <i class="icon-support"></i>
        <span data-i18n="nav.support_raise_support.main" class="menu-title">รายการใช้งาน</span>
    </a>
</li>


<!-- <li class=" nav-item"><a href="homepage.html"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main"
            class="menu-title">Homepage</span></a>
</li>
<li class=" nav-item"><a href="header.inc.html"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main"
            class="menu-title">Header</span></a>
</li>
<li class=" nav-item"><a href="footer.html"><i class="icon-support"></i><span data-i18n="nav.support_raise_support.main"
            class="menu-title">Footer</span></a>
</li>
<li class=" nav-item"><a href="news.html"><i class="icon-document-text"></i><span data-i18n="nav.support_documentation.main"
            class="menu-title">News</span></a>
</li>
<li class=" nav-item"><a href="webpage.html"><i class="icon-document-text"></i><span data-i18n="nav.support_documentation.main"
            class="menu-title">Webpage</span></a>
</li> -->